
* {
    margin: 0px;
    padding: 0px;
}

/* body */
body {
    padding-top: 20px;
    text-align: center;
    background-image: url("../imgs/old_map.png");
}

/* Contenedor principal */
#page {
    width: 960px;
    margin: 0px auto;
    text-align: left;
}

/* Cabecer */
header {
    font-family: Courier, monospace;
    color: white;
    font-size: 1.1em;
    border-bottom: 6px solid black;
    background-color: #313B44;
}

/* imagen de fondo*/
h1 {
    background-image: url("../imgs/watermelon-cat-cat.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 100px;
    background-position-y: -100px;
}

/* Navegación */
nav {
    font-family: Courier, monospace;
    font-size: 1.4em;
    color: silver;
    text-align: center;
    background-image: url("../imgs/red015.jpg");
}

/* Lista de navegación */
nav ul li {
    padding-top: 80px;
    margin: 0px 50px 20px 50px;
    list-style: none;
    display: inline-block;
    text-align: center;
    cursor: default;
}

/* Imágenes específicas para cada elemento del menú */
#estudios {
    background-image: url("../imgs/conocimientos.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

#conocimientos {
    background-image: url("../imgs/estudios.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

#contacto {
    background-image: url("../imgs/contacto.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

/* Sección de contenido */
section {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    background-image: url("../imgs/lgrey008.jpg");
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* clearfix */
.clearfix::before,
.clearfix::after {
    width: 100%;
    display: table;
    content: "";
}

.clearfix::after {
    clear: both;
}

/* Artículos */
article {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid lightgray;
    background-color: white;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
}

/* Cabecera de artículos */
article header {
    border-bottom: 1px solid #999999;
    background-color: transparent;
}

/* Títulos h2 */
h2 {
    padding: 10px;
    font-size: 1.2em;
}

/* Pie de página */
footer {
    clear: both;
    color: white;
    font-size: 0.7em;
    text-align: center;
    background-color: #313B44;
    border-top: 6px solid black;
    padding: 15px 0px;
}

/* Enlaces en el pie de página */
footer a {
    color: white;
}

/* ajustar tamaños de las imágenes de las otras páginas */
#preocupado{
    height: 213px;
}

#calendario{
    height: 213px;
}

#telefono{
    height: 213px;
}

#mail{
    height: 213px;
}

p{
    margin: 10px;   
}
